<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer-content">
    <footer class="footer text-right">
        2020 © <a th:href="@{https://github.com/lwplhs}" target="_blank">My WebSite</a><div class=""></div>
    </footer>
</div>
<div th:fragment="footer_main">
    <!--<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>-->
    <script type="text/javascript" th:src="@{/static/admin/n_n/jquery/1.9.1/jquery.min.js}"></script>
    <!--<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>-->
    <script type="text/javascript" th:src="@{/static/admin/n_n/h-ui/js/H-ui.min.js}"></script>
</div>
<div th:fragment="footer_index">
    <script type="text/javascript" th:src="@{/static/admin/n_n/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/h-ui/js/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/h-ui.admin/js/H-ui.admin.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/jquery.contextmenu/jquery.contextmenu.r2.js}"></script>
</div>
<div th:fragment="footer_article-list">
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" th:src="@{/static/admin/n_n/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/datatables/1.10.0/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/laypage/1.2/laypage.js}"></script>
</div>
<div th:fragment="footer_article-add">
    <script type="text/javascript" th:src="@{/static/admin/n_n/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/jquery.validation/1.14.0/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/jquery.validation/1.14.0/validate-methods.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/jquery.validation/1.14.0/messages_zh.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/webuploader/0.1.5/webuploader.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/ueditor/1.4.3/ueditor.config.js}"></script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/ueditor/1.4.3/ueditor.all.min.js}"> </script>
    <script type="text/javascript" th:src="@{/static/admin/n_n/ueditor/1.4.3/lang/zh-cn/zh-cn.js}"></script>
</div>
</html>