<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwp.blog.dao.AttachmentDao">
    <resultMap id="BaseResultMap" type="com.lwp.blog.entity.Vo.AttachmentVo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="save_name" jdbcType="VARCHAR" property="save_name"/>
        <result column="old_name" jdbcType="VARCHAR" property="old_name"/>
        <result column="save_path" jdbcType="VARCHAR" property="save_path"/>
        <result column="url_path" jdbcType="VARCHAR" property="url_path"/>
        <result column="user_id" jdbcType="VARCHAR" property="user_id"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="suffix" jdbcType="VARCHAR" property="suffix"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="width" jdbcType="VARCHAR" property="width"/>
        <result column="height" jdbcType="VARCHAR" property="height"/>
    </resultMap>
    <insert id="insertAttachment" parameterType="com.lwp.blog.entity.Vo.AttachmentVo">
        insert into attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="save_name != null">
                save_name,
            </if>
            <if test="old_name != null">
                old_name,
            </if>
            <if test="save_path != null">
                save_path,
            </if>
            <if test="url_path != null">
                url_path,
            </if>
            <if test="user_id != null">
                user_id,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="suffix != null">
                suffix,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="width != null">
                width,
            </if>
            <if test="height != null">
                height,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="save_name != null">
                #{save_name,jdbcType=VARCHAR},
            </if>
            <if test="old_name != null">
                #{old_name,jdbcType=VARCHAR},
            </if>
            <if test="save_path != null">
                #{save_path,jdbcType=VARCHAR},
            </if>
            <if test="url_path != null">
                #{url_path,jdbcType=VARCHAR},
            </if>
            <if test="user_id != null">
                #{user_id,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="suffix != null">
                #{suffix,jdbcType=VARCHAR},
            </if>
            <if test="size != null">
                #{size,jdbcType=VARCHAR},
            </if>
            <if test="width != null">
                #{width,jdbcType=VARCHAR},
            </if>
            <if test="height != null">
                #{height,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="getListAttachment" resultMap="BaseResultMap">
        select * from attachment
    </select>
</mapper>