<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwp.blog.dao.CarouselDao">
    <resultMap id="BaseResultMap" type="com.lwp.blog.entity.Vo.CarouselVo">
        <id column="id" jdbcType="VARCHAR" property="id"></id>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="url"  jdbcType="VARCHAR" property="url"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="is_delete" jdbcType="VARCHAR" property="isDelete"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="sid" jdbcType="VARCHAR" property="sid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
        <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId"/>
        <result column="sort" jdbcType="VARCHAR" property="sort"/>
        <result column="attachment_id" jdbcType="VARCHAR" property="attachmentId"/>
    </resultMap>
    <sql id="selectResultList">
        id,name,detail,(select a.url_path from attachment a where a.id = c.attachment_id) path,url,status,is_delete,type,sid,sort,attachment_id
    </sql>
    <insert id="insertCarousel" parameterType="com.lwp.blog.entity.Vo.CarouselVo" useGeneratedKeys="true" keyProperty="id">
        insert into carousel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="sid != null">
                sid,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="attachmentId != null">
                attachment_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="sid != null">
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=VARCHAR},
            </if>
            <if test="attachmentId != null">
                #{attachmentId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateCarousel" parameterType="com.lwp.blog.entity.Vo.CarouselVo" useGeneratedKeys="true" keyProperty="id">
        update carousel
        <set>
            <if test="name != null">
                name= #{name,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="sid != null">
                sid = #{sid,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=VARCHAR},
            </if>
            <if test="attachmentId != null">
                attachment_id = #{attachmentId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="getListCarousel" resultMap="BaseResultMap">
        select
            <include refid="selectResultList"/> ,CASE status WHEN '1' THEN 0 ELSE 1 END flag
            from carousel c
            where is_delete !='1' or is_delete is null ORDER BY FLAG,update_time desc
    </select>
    <select id="getMaxSort" resultType="INTEGER">
        select IFNULL(max(sort),0)+1 from carousel where is_delete is null or is_delete != '1'
    </select>
    <select id="getListCarouselByStatus" resultMap="BaseResultMap">
        select 
        <include refid="selectResultList"/> 
        from carousel c where status='1' and (is_delete !='1' or is_delete is null) order by sort
    </select>
    <select id="getCarouselById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select 
         <include refid="selectResultList"></include>
         from carousel c where id = #{id,jdbcType=VARCHAR}
    </select>

    <update id="updateCarouselWithStatus" parameterType="java.util.Map">
        update carousel set status =(case when status = '1' then '0' else '1' end),update_time=#{updateTime,jdbcType=TIMESTAMP},update_user_id=#{updateUserId,jdbcType=VARCHAR} where id in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id,jdbcType=VARCHAR}
            </foreach>
    </update>

    <update id="updateCarouseWithDelete" parameterType="java.util.Map">
        update carousel set is_delete='1',update_time=#{updateTime,jdbcType=TIMESTAMP},update_user_id=#{updateUserId,jdbcType=VARCHAR} where id in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id,jdbcType=VARCHAR}
            </foreach>
    </update>
</mapper>