<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwp.website.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.lwp.website.entity.Users">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
    </resultMap>
    <insert id="insertUser" parameterType="com.lwp.website.entity.Users" useGeneratedKeys="true" keyProperty="id">
        insert into USERS(name, sex) values(#{name,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR})
    </insert>
</mapper>